# Sorting, Counting, Subset

## Import libraries

In [1]:
## import libraries
import pandas as pd

## Upload Olympics datasets to this notebook.

### Import ```olympics-summer.csv``` and store in a dataframe called ```dfs``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv">link</a>).


### Import ```olympics-winter.csv``` and store in a dataframe called ```dfw``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv">link</a>).

In [2]:
## import summer data
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv")
dfs

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN
222548,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN
222549,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
222550,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [3]:
## import winter data
dfw = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv")
dfw

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN

## Get a sense of the data

In [4]:
## SUMMER
## what exactly do we have: columns, datatypes, etc.
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222552 entries, 0 to 222551
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            222552 non-null  int64
 1   Athlete Name  222552 non-null  object
 2   Sex           222552 non-null  object
 3   Age           213363 non-null  float64
 4   Height        170695 non-null  float64
 5   Weight        168698 non-null  float64
 6   Team          222552 non-null  object
 7   NOC           222552 non-null  object
 8   Year          222552 non-null  int64
 9   City          222552 non-null  object
 10  Sport         222552 non-null  object
 11  Event         222552 non-null  object
 12  Medal         34088 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 22.1+ MB

In [5]:
## WINTER
## what exactly do we have: columns, datatypes, etc.
dfw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48564 entries, 0 to 48563
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            48564 non-null  int64
 1   Athlete Name  48564 non-null  object
 2   Sex           48564 non-null  object
 3   Age           48279 non-null  float64
 4   Height        40250 non-null  float64
 5   Weight        39543 non-null  float64
 6   Team          48564 non-null  object
 7   NOC           48564 non-null  object
 8   Year          48564 non-null  int64
 9   City          48564 non-null  object
 10  Sport         48564 non-null  object
 11  Event         48564 non-null  object
 12  Medal         5695 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 4.8+ MB

## Subsetting dataframes into smaller, targeted dataframes

When you subset a dataframe, you are filtering down based on selecting specific columns. We want to winnow a large dataset to manageable size by including only relevant columns.

There are two ways of doing this. One simple method is very common (you'll see many people use it), but the other method (also simple) is way more powerful and flexible.

### Method 1 - Pass a list of multiple column headers, it returns dataframe with only those columns
This is like calling a series (```df["Year"]```), but multiple columns:

####  ```df[["Column 1", "Column 2"]]```

In [6]:
## Create a dataframe that for only summer games years and cities
df_sub = dfw[["Year", "City", "Team"]]
df_sub

       Year      City            Team
0      1924  Chamonix   United States
1      1924  Chamonix  Czechoslovakia
2      1924  Chamonix     Switzerland
3      1924  Chamonix     Switzerland
4      1924  Chamonix     Switzerland
...     ...       ...             ...
48559  2014     Sochi          Russia
48560  2014     Sochi          Latvia
48561  2014     Sochi          Latvia
48562  2014     Sochi          Poland
48563  2014     Sochi          Poland

[48564 rows x 3 columns]

### Method 2 - ```.filter()``` to "filter" down a large dataframe to a subset





**Syntax:**

```dataframe.filter(["col3", "col1"])```

In [7]:
## try here with year, city and team
df_filter = dfw.filter(["Year", "City", "Team"])
df_filter

       Year      City            Team
0      1924  Chamonix   United States
1      1924  Chamonix  Czechoslovakia
2      1924  Chamonix     Switzerland
3      1924  Chamonix     Switzerland
4      1924  Chamonix     Switzerland
...     ...       ...             ...
48559  2014     Sochi          Russia
48560  2014     Sochi          Latvia
48561  2014     Sochi          Latvia
48562  2014     Sochi          Poland
48563  2014     Sochi          Poland

[48564 rows x 3 columns]

## No difference!?

If there are so many columns, you can apply patterns instead of needing the full column label.

You can use parameters like ```like =``` and ```regex = ```

You won't be able to apply these more advanced techniques for a while, but it's best to get into good habits!

In [8]:
## look for columns with eight endings
df_filter = dfw.filter(like = "eight")
df_filter.sample(10)

       Height  Weight
35133   167.0    60.0
21284   177.0    82.0
46420   180.0    80.0
20388   162.0    57.0
4736      NaN     NaN
4076      NaN     NaN
45036   160.0    56.0
4014    173.0    59.0
44510   176.0    75.0
28913   167.0    57.0

## Sorting by single value

```dataframe.sort_values(by="Value 1", ascending = True)``` for A-Z or smaller numbers to bigger numbers

```ascending = False``` for Z-A or bigger to smaller numbers.

In [9]:
## sort by athlete names A-Z for winter olympics
dfw.sort_values(by="Athlete Name", ascending = True)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
2788,56427,Aage Justesen,M,30.0,NaN,NaN,Denmark,DEN,1948,Sankt Moritz,Speed Skating,Speed Skating Men's 500 metres,NaN
15974,13348,"Aaltje Grietje ""Alie"" Boorsma",F,24.0,179.0,75.0,Netherlands,NED,1984,Sarajevo,Speed Skating,Speed Skating Women's 500 metres,NaN
15975,13348,"Aaltje Grietje ""Alie"" Boorsma",F,24.0,179.0,75.0,Netherlands,NED,1984,Sarajevo,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
3799,49758,Aarne Vin Edward Honkavaara,M,27.0,184.0,81.0,Finland,FIN,1952,Oslo,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
44053,12407,Aaron Blunck,M,17.0,180.0,78.0,United States,USA,2014,Sochi,Freestyle Skiing,Freestyle Skiing Men's Halfpipe,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15622,122902,yvind Tveter,M,25.0,190.0,89.0,Norway,NOR,1980,Lake Placid,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
15623,122902,yvind Tveter,M,25.0,190.0,89.0,Norway,NOR,1980,Lake Placid,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
8706,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
8705,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
8704,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Downhill,NaN

## Sorting by multiple values

```dataframe.sort_values(by=["Value 1", "Value 2"], ascending = True)``` for A-Z or smaller numbers to bigger numbers

```ascending = False``` for Z-A or bigger to smaller numbers.

In [10]:
## Sort by values (City and Year) for winter olympics
dfw.sort_values(by=["City", "Year"], ascending = True)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
20579,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
20580,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
20581,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
20582,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20583,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43668,135492,Veronika Zuzulov (-Velez),F,25.0,172.0,72.0,Slovakia,SVK,2010,Vancouver,Alpine Skiing,Alpine Skiing Women's Giant Slalom,NaN
43669,135492,Veronika Zuzulov (-Velez),F,25.0,172.0,72.0,Slovakia,SVK,2010,Vancouver,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
43670,135496,Veronika Zvaiov,F,21.0,176.0,62.0,Czech Republic,CZE,2010,Vancouver,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN
43671,135500,Kristaps Zvejnieks,M,17.0,185.0,87.0,Latvia,LAT,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
43672,135500,Kristaps Zvejnieks,M,17.0,185.0,87.0,Latvia,LAT,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Slalom,NaN

In [11]:
## sort by year and then city
dfw.sort_values(by=["Year", "City"], ascending = True)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN

In [12]:
## sort by city and year but descending for summer games
dfs.sort_values(by=["City", "Year"], ascending = False)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
64404,87,Rost'om Omeris dze Abashidze,M,29.0,188.0,97.0,Soviet Union,URS,1964,Tokyo,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
64405,112,Aziz Abbas,M,21.0,169.0,67.0,Iraq,IRQ,1964,Tokyo,Weightlifting,Weightlifting Men's Lightweight,NaN
64406,116,Hosni Mohamed Abbas,M,32.0,NaN,60.0,Egypt,EGY,1964,Tokyo,Weightlifting,Weightlifting Men's Featherweight,NaN
64407,166,Omari Abdallah,M,21.0,168.0,57.0,Tanzania,TAN,1964,Tokyo,Athletics,Athletics Men's Marathon,NaN
64408,205,Ali Abdel Radi,M,24.0,NaN,NaN,Egypt,EGY,1964,Tokyo,Rowing,Rowing Men's Coxed Eights,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27003,135426,Max Zumstein,M,NaN,NaN,NaN,Switzerland,SUI,1928,Amsterdam,Hockey,Hockey Men's Hockey,NaN
27004,135435,Faelo Ziga,M,NaN,NaN,NaN,Chile,CHI,1928,Amsterdam,Swimming,Swimming Men's 100 metres Freestyle,NaN
27005,135499,Alberts Zvejnieks,M,25.0,NaN,NaN,Latvia,LAT,1928,Amsterdam,Wrestling,"Wrestling Men's Heavyweight, Greco-Roman",NaN
27006,135552,Jan (Johann-) Zybert (Siebert-),M,20.0,NaN,NaN,Poland,POL,1928,Amsterdam,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
27007,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928,Amsterdam,Athletics,Athletics Men's Marathon,NaN

In [13]:
## you can store into a new df
summer_sort_df = dfs.sort_values(by=["City", "Year"], ascending = False)
summer_sort_df.head(10)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
64404,87,Rost'om Omeris dze Abashidze,M,29.0,188.0,97.0,Soviet Union,URS,1964,Tokyo,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN
64405,112,Aziz Abbas,M,21.0,169.0,67.0,Iraq,IRQ,1964,Tokyo,Weightlifting,Weightlifting Men's Lightweight,NaN
64406,116,Hosni Mohamed Abbas,M,32.0,NaN,60.0,Egypt,EGY,1964,Tokyo,Weightlifting,Weightlifting Men's Featherweight,NaN
64407,166,Omari Abdallah,M,21.0,168.0,57.0,Tanzania,TAN,1964,Tokyo,Athletics,Athletics Men's Marathon,NaN
64408,205,Ali Abdel Radi,M,24.0,NaN,NaN,Egypt,EGY,1964,Tokyo,Rowing,Rowing Men's Coxed Eights,NaN
64409,206,Amin Abdel Rahman,M,22.0,NaN,NaN,Egypt,EGY,1964,Tokyo,Water Polo,Water Polo Men's Water Polo,NaN
64410,211,Sameh Abdel Rahman,M,21.0,NaN,NaN,Egypt,EGY,1964,Tokyo,Fencing,"Fencing Men's Foil, Individual",NaN
64411,211,Sameh Abdel Rahman,M,21.0,NaN,NaN,Egypt,EGY,1964,Tokyo,Fencing,"Fencing Men's Foil, Team",NaN
64412,219,Ali Abdel Sami,M,28.0,NaN,NaN,Egypt,EGY,1964,Tokyo,Rowing,Rowing Men's Coxed Eights,NaN
64413,282,Hadi Abdul Jabbar,M,34.0,180.0,117.5,Iraq,IRQ,1964,Tokyo,Weightlifting,Weightlifting Men's Heavyweight,NaN

## Should Winter and Summer data remain separate?

### What if we want to know total gold medals for any country?

### But if we combine them, how to we easily distinguish between summer and winter?

### Creating a new column with a default value

In [14]:
## In the summer dataframe, add "Season" column with the value "Summer"
dfs["Season"] = "Summer"
dfs.head()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,Summer
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,Summer
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,Summer
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,Summer
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN,Summer

In [15]:
## In the winter dataframe, add "Season" column with the value "Winter"
dfw["Season"] = "Winter"
dfw.head()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,Winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,Winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,Winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,Winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,Winter

In [16]:
## are the two column headers identical?
list(dfs.columns) == list(dfw.columns)

True

In [17]:
## join winter and summer dataframes together into a dataframe called oly
df = pd.concat([dfs, dfw], ignore_index = True)
df.head()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,Summer
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,Summer
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,Summer
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,Summer
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN,Summer

In [18]:
### confirm that you have the correct number of rows after the join.
### you can scroll up to count the number of entries in oly_w and oly_s.
### The totals should be equal to the value generated below
df.shape

(271116, 14)

In [19]:
## confirm the concat worked and totals correctly
df.shape[0] == dfs.shape[0] + dfw.shape[0]

True

## Improving memory allocation

If we were working with a massive dataset, we'd want to find ways to improve processing power.

For example, the following columns have only a few values that repeat again and again as strings. This is highly inefficient.

- The "Season" column has "winter" and "summer",
- The "Medal" column only has "gold", "silver" and "bronze",
- "Gender" at this point in the Olympics only has "male" and "female".

One way to improve memory allocation is to take columns with that contain only a few data points and turn them into categories.

In [20]:

## you should see how "Season", "Medal" and "Gender" are all string objects.
## Note that memory usage: 2.8+ MB
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  object
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   object
 13  Season        271116 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 29.0+ MB

### Convert to single column to category 
```df["column_name"].astype("category")```

In [44]:
## convert gender to category
df["Sex"] = df["Sex"].astype("category")

### Convert to multiple columns to category 

 ```df[["column_name1", "column_name2]].astype("category")```

In [43]:
## convert medal and season  to catagory
df[["Medal", "Season"]] = \
df[["Medal", "Season"]].astype("category")

In [22]:
## See what the memory allocation is now using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  category
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   category
 13  Season        271116 non-null  category
dtypes: category(3), float64(3), int64(2), object(6)
memory usage: 23.5+ MB

# It should have dropped to 23.5MB.
That's a big descrease for just about 270,000 rows.

This would have an even bigger impact on larger datasets.

# Query to subset

Create smaller datasets with only the information you want

### Create a subset that holds the results from the Sochi Olympics

```df.query("ColumnName == 'some_value'")```

In [23]:
## return df that holds only Sochi data

df.query('City == "Sochi"')

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
266225,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Winter
266226,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,Winter
266227,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,Winter
266228,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,Winter
266229,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
271112,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,Winter
271113,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
271114,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Winter
271115,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Winter

### Note the order of the single and double quotes:

If you open with double quotes, the inner quotes have to be single quotes:

```df.query("City == 'Sochi'")```

If you open with single quotes, the inner quotes have to be double quotes:

```df.query('City == "Sochi"')```


Using the same outer and inner quotes will break your code:
</br>
```df.query("City == "Sochi"") ## will break ```

In [24]:
## Store subset into dataframe called sochi_df
sochi_df = df.query('City == "Sochi"')
sochi_df.head()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
266225,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Winter
266226,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,Winter
266227,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,Winter
266228,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,Winter
266229,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,NaN,Winter

**Syntax for querying multi-word column names:**

```dataframe.query('`column name` comparison_operator value')```

Note the opening and closing tick marks ``` ` ```

In [25]:
## query to return on french athletes
df.query("`Athlete Name` == 'Agnese boltia'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
266229,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,NaN,Winter
266230,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Giant Slalom,NaN,Winter
266231,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,Winter

## Filtering by dates

You'll learn more about date and time in the coming week. For now, please note how the ```Year``` column is a  ```int64``` object and NOT a ```datetime``` object. We can still work with it for our needs.

In [27]:
## Find all the 1900 competitions
df.query("Year == 1900")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
380,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Summer
381,133,Franz Abb,M,NaN,NaN,NaN,Germany,GER,1900,Paris,Gymnastics,Gymnastics Men's Individual All-Around,NaN,Summer
382,150,Margaret Ives Abbott (-Dunne),F,23.0,NaN,NaN,United States,USA,1900,Paris,Golf,Golf Women's Individual,Gold,Summer
383,151,Mary Perkins Ives Abbott (Perkins-),F,42.0,NaN,NaN,United States,USA,1900,Paris,Golf,Golf Women's Individual,NaN,Summer
384,404,"Louis Grenville ""Lou"" Abell",M,15.0,NaN,NaN,Vesper Boat Club,USA,1900,Paris,Rowing,Rowing Men's Coxed Eights,Gold,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,131733,William Hayden Wright,M,NaN,NaN,NaN,A North American Team,USA,1900,Paris,Polo,Polo Men's Polo,Bronze,Summer
2312,133574,Henri Yvon,M,NaN,NaN,NaN,France,FRA,1900,Paris,Fencing,"Fencing Men's Foil, Masters, Individual",NaN,Summer
2313,133574,Henri Yvon,M,NaN,NaN,NaN,France,FRA,1900,Paris,Fencing,"Fencing Men's epee, Masters, Individual",NaN,Summer
2314,133807,Pyotr Antonovich Zakovorot,M,NaN,NaN,NaN,Russia,RUS,1900,Paris,Fencing,"Fencing Men's Sabre, Masters, Individual",NaN,Summer
2315,134198,"Walter John ""Jack"" Zealley",M,NaN,NaN,NaN,Upton Park FC,GBR,1900,Paris,Football,Football Men's Football,Gold,Summer

In [41]:
### return all the competitions between 1920 and 1950 (inclusive)


df.query("1920 <= Year <= 1950")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
12491,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Antwerpen,Football,Football Men's Football,NaN,Summer
12492,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Summer
12493,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Summer
12494,25,Alf Lied Aanning,M,24.0,NaN,NaN,Norway,NOR,1920,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver,Summer
12495,38,Karl Jan Aas,M,20.0,NaN,NaN,Norway,NOR,1920,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225911,135383,Annelore Zckert (-Zrost),F,22.0,NaN,NaN,Austria,AUT,1948,Sankt Moritz,Alpine Skiing,Alpine Skiing Women's Downhill,NaN,Winter
225912,135383,Annelore Zckert (-Zrost),F,22.0,NaN,NaN,Austria,AUT,1948,Sankt Moritz,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,Winter
225913,135463,Hans Zurbriggen,M,27.0,NaN,NaN,Switzerland,SUI,1948,Sankt Moritz,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,Winter
225914,135466,Robert Zurbriggen,M,30.0,NaN,NaN,Switzerland,SUI,1948,Sankt Moritz,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,Winter
225915,135466,Robert Zurbriggen,M,30.0,NaN,NaN,Switzerland,SUI,1948,Sankt Moritz,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,Winter

In [29]:
## return only Tennis competitions between 1920 and 1950 (inclusive)

df.query("(1920 <= Year <= 1950) & Sport =='Tennis' ")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
12530,2302,Pierre Henri Maurice Albarran,M,26.0,NaN,NaN,France-3,FRA,1920,Antwerpen,Tennis,Tennis Men's Doubles,Bronze,Summer
12551,3034,Jos Mara Alonso de Areyzaga,M,30.0,NaN,NaN,Spain,ESP,1920,Antwerpen,Tennis,Tennis Men's Singles,NaN,Summer
12552,3034,Jos Mara Alonso de Areyzaga,M,30.0,NaN,NaN,Spain-2,ESP,1920,Antwerpen,Tennis,Tennis Men's Doubles,NaN,Summer
12553,3038,Manuel Alonso de Areyzaga,M,24.0,175.0,66.0,Spain,ESP,1920,Antwerpen,Tennis,Tennis Men's Singles,NaN,Summer
12554,3038,Manuel Alonso de Areyzaga,M,24.0,175.0,66.0,Spain-2,ESP,1920,Antwerpen,Tennis,Tennis Men's Doubles,NaN,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21985,134322,Ladislav emla,M,36.0,NaN,NaN,Czechoslovakia,TCH,1924,Paris,Tennis,Tennis Men's Singles,NaN,Summer
21986,134322,Ladislav emla,M,36.0,NaN,NaN,Czechoslovakia-2,TCH,1924,Paris,Tennis,Tennis Men's Doubles,NaN,Summer
21987,134376,Avgoustos Zerlentis,M,37.0,NaN,NaN,Greece,GRE,1924,Paris,Tennis,Tennis Men's Singles,NaN,Summer
21988,134376,Avgoustos Zerlentis,M,37.0,NaN,NaN,Greece,GRE,1924,Paris,Tennis,Tennis Mixed Doubles,NaN,Summer
21989,134376,Avgoustos Zerlentis,M,37.0,NaN,NaN,Greece,GRE,1924,Paris,Tennis,Tennis Men's Doubles,NaN,Summer

In [30]:
## return only Women's Tennis competitions results
## between 1996 and 2018 inclusive

df.query("(1996 <= Year <=2018) &\
 Sport == 'Tennis' &\
  Sex == 'F'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
141776,4723,Sabine Appelmans (-Haubourdin),F,24.0,169.0,60.0,Belgium,BEL,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,Summer
141777,4723,Sabine Appelmans (-Haubourdin),F,24.0,169.0,60.0,Belgium,BEL,1996,Atlanta,Tennis,Tennis Women's Doubles,NaN,Summer
142047,7620,Olga Vladimirovna Barabanshchikova,F,16.0,176.0,60.0,Belarus,BLR,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,Summer
142048,7620,Olga Vladimirovna Barabanshchikova,F,16.0,176.0,60.0,Belarus,BLR,1996,Atlanta,Tennis,Tennis Women's Doubles,NaN,Summer
142135,8522,"Nani Rahayu ""Yayuk"" Basuki-Suharyadi",F,25.0,165.0,55.0,Indonesia,INA,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222126,132098,Xu Yifan,F,27.0,165.0,60.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Summer
222443,134544,Zhang Shuai,F,27.0,177.0,66.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,Summer
222444,134544,Zhang Shuai,F,27.0,177.0,66.0,China-1,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Summer
222475,134739,Zheng Saisai,F,22.0,170.0,62.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,Summer
222476,134739,Zheng Saisai,F,22.0,170.0,62.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Summer

## What year was women's boxing introduced to the olympics?

In [31]:
## find all the names of sports first just to confirm boxing
## does not appear in different names
## how is boxing listed?
df["Sport"].unique()

array(['Tennis', 'Athletics', 'Swimming', 'Gymnastics', 'Shooting',
       'Cycling', 'Fencing', 'Weightlifting', 'Wrestling', 'Tug-Of-War',
       'Golf', 'Rowing', 'Rugby', 'Sailing', 'Football', 'Cricket',
       'Water Polo', 'Equestrianism', 'Croquet', 'Archery', 'Polo',
       'Basque Pelota', 'Lacrosse', 'Boxing', 'Diving', 'Roque', 'Hockey',
       'Racquets', 'Motorboating', 'Jeu De Paume', 'Figure Skating',
       'Art Competitions', 'Modern Pentathlon', 'Ice Hockey', 'Alpinism',
       'Basketball', 'Handball', 'Canoeing', 'Aeronautics', 'Volleyball',
       'Judo', 'Rhythmic Gymnastics', 'Synchronized Swimming',
       'Table Tennis', 'Badminton', 'Baseball', 'Beach Volleyball',
       'Softball', 'Taekwondo', 'Triathlon', 'Trampolining',
       'Rugby Sevens', 'Nordic Combined', 'Ski Jumping',
       'Cross Country Skiing', 'Curling', 'Bobsleigh',
       'Military Ski Patrol', 'Speed Skating', 'Skeleton',
       'Alpine Skiing', 'Biathlon', 'Luge', 'Freestyle Skiing',
       'Short Track Speed Skating', 'Snowboarding'], dtype=object)

In [32]:
df["Event"].unique()

array(["Tennis Men's Singles", "Tennis Men's Doubles",
       "Athletics Men's 110 metres Hurdles",
       "Swimming Men's 1,200 metres Freestyle",
       "Gymnastics Men's Rope Climbing",
       "Swimming Men's 100 metres Freestyle",
       "Shooting Men's Free Rifle, Three Positions, 300 metres",
       "Cycling Men's Road Race, Individual",
       "Cycling Men's 333 metres Time Trial",
       "Cycling Men's 100 kilometres",
       "Shooting Men's Military Rifle, 200 metres",
       "Athletics Men's Marathon", "Athletics Men's 1,500 metres",
       "Gymnastics Men's Horse Vault", "Gymnastics Men's Parallel Bars",
       "Gymnastics Men's Parallel Bars, Teams",
       "Gymnastics Men's Horizontal Bar",
       "Gymnastics Men's Horizontal Bar, Teams", "Gymnastics Men's Rings",
       "Gymnastics Men's Pommelled Horse", "Athletics Men's 100 metres",
       "Athletics Men's 400 metres", "Fencing Men's Foil, Individual",
       "Athletics Men's High Jump", "Athletics Men's Long Jump",
       "Athletics Men's Shot Put", "Athletics Men's Triple Jump",
       "Athletics Men's Pole Vault", "Athletics Men's 800 metres",
       "Shooting Men's Free Pistol, 30 metres",
       "Shooting Men's Military Pistol, 25 metres",
       "Swimming Men's 100 metres Freestyle For Sailors",
       "Weightlifting Men's Unlimited, One Hand",
       "Weightlifting Men's Unlimited, Two Hands",
       "Wrestling Men's Unlimited Class, Greco-Roman",
       "Cycling Men's Sprint", "Cycling Men's 10,000 metres",
       "Shooting Men's Muzzle-Loading Pistol, 25 metres",
       "Athletics Men's Discus Throw", "Fencing Men's Sabre, Individual",
       "Cycling Men's 12-Hours Race",
       "Swimming Men's 500 metres Freestyle",
       "Fencing Men's Foil, Masters, Individual",
       "Tug-Of-War Men's Tug-Of-War",
       "Gymnastics Men's Individual All-Around",
       "Golf Women's Individual", "Rowing Men's Coxed Eights",
       "Fencing Men's epee, Individual",
       "Swimming Men's 200 metres Freestyle", "Shooting Men's Trap",
       "Rugby Men's Rugby", 'Sailing Mixed Open', 'Sailing Mixed 1-2 Ton',
       "Fencing Men's Sabre, Masters, Individual",
       "Football Men's Football", "Rowing Men's Coxed Fours",
       "Fencing Men's epee, Masters, Individual",
       "Swimming Men's 4,000 metres Freestyle",
       "Swimming Men's Underwater Swimming", "Cricket Men's Cricket",
       "Water Polo Men's Water Polo",
       'Equestrianism Mixed Hacks And Hunter Combined',
       "Rowing Men's Single Sculls", 'Sailing Mixed 0.5-1 Ton',
       'Croquet Mixed Singles, One Ball', 'Croquet Mixed Doubles',
       "Fencing Men's epee, Masters and Amateurs, Individual",
       "Shooting Men's Free Rifle, Three Positions, 300 metres, Team",
       "Shooting Men's Free Rifle, Kneeling, 300 metres",
       "Shooting Men's Free Rifle, Prone, 300 metres",
       "Shooting Men's Free Rifle, Standing, 300 metres",
       "Cycling Men's 25 kilometres",
       "Athletics Men's Standing High Jump",
       "Athletics Men's Standing Long Jump",
       "Athletics Men's Standing Triple Jump",
       "Archery Men's Au Cordon Dore, 50 metres",
       "Athletics Men's 4,000 metres Steeplechase",
       "Athletics Men's 5,000 metres, Team", "Cycling Men's Points Race",
       "Polo Men's Polo", "Swimming Men's 200 metres Obstacle Course",
       "Swimming Men's 200 metres Team Swimming",
       'Sailing Mixed 10-20 Ton', 'Croquet Mixed Singles, Two Balls',
       'Sailing Mixed 2-3 Ton', "Swimming Men's 200 metres Backstroke",
       "Shooting Men's Free Pistol, 50 metres",
       "Shooting Men's Free Pistol, 50 metres, Team",
       "Rowing Men's Coxed Pairs", "Athletics Men's 200 metres",
       "Swimming Men's 1,000 metres Freestyle", 'Sailing Mixed 0-0.5 Ton',
       'Sailing Mixed 20+ Ton',
       'Equestrianism Mixed Four-In-Hand Competition',
       "Athletics Men's 2,500 metres Steeplechase",
       "Athletics Men's 200 metres Hurdles", "Tennis Women's Singles",
       'Tennis Mixed Doubles', "Golf Men's Individual",
       "Basque Pelota Men's Two-Man Teams With Cesta",
       'Equestrianism Mixed Jumping, Individual',
       'Equestrianism Mixed Long Jump',
       "Archery Men's Sur La Perche a La Herse", 'Sailing Mixed 3-10 Ton',
       "Athletics Men's Hammer Throw", 'Equestrianism Mixed High Jump',
       "Archery Men's Sur La Perche a La Pyramide",
       "Archery Men's Unknown Event",
       "Archery Men's Au Chapelet, 50 metres",
       "Archery Men's Championnat Du Monde", "Athletics Men's 60 metres",
       "Athletics Men's 400 metres Hurdles",
       "Archery Men's Au Chapelet, 33 metres",
       "Archery Men's Au Cordon Dore, 33 metres",
       "Swimming Men's 220 yard Freestyle",
       "Swimming Men's 880 yard Freestyle",
       "Swimming Men's One Mile Freestyle",
       "Swimming Men's 4 x 50 Yard Freestyle Relay",
       "Swimming Men's Plunge For Distance", "Lacrosse Men's Lacrosse",
       "Rowing Men's Coxless Fours",
       "Gymnastics Men's Individual All-Around, Field Sports",
       "Gymnastics Men's Individual All-Around, Apparatus Work",
       "Cycling Men's 1/4 mile", "Cycling Men's 1/2 mile",
       "Cycling Men's 5 mile", "Cycling Men's 25 mile",
       "Gymnastics Men's Team All-Around",
       "Wrestling Men's Featherweight, Freestyle",
       "Wrestling Men's Flyweight, Freestyle",
       "Wrestling Men's Welterweight, Freestyle",
       "Boxing Men's Heavyweight", "Cycling Men's 1/3 mile",
       "Cycling Men's 1 mile", "Cycling Men's 2 mile",
       "Boxing Men's Lightweight", "Swimming Men's 100 Yard Backstroke",
       "Swimming Men's 440 Yard Breaststroke", "Diving Men's Springboard",
       "Roque Men's Singles", "Archery Men's Double American Round",
       "Archery Men's Double York Round", "Archery Men's Team Round",
       "Rowing Men's Coxless Pairs", "Boxing Men's Flyweight",
       "Golf Men's Team", "Wrestling Men's Bantamweight, Freestyle",
       "Athletics Men's 56-pound Weight Throw",
       "Athletics Men's All-Around Championship",
       "Athletics Men's 2,590 metres Steeplechase",
       "Archery Women's Double Columbia Round",
       "Archery Women's Double National Round",
       "Athletics Men's 4 mile, Team",
       "Wrestling Men's Light-Flyweight, Freestyle",
       "Swimming Men's 50 yard Freestyle",
       "Swimming Men's 100 yard Freestyle",
       "Swimming Men's 440 yard Freestyle", "Fencing Men's Foil, Team",
       "Wrestling Men's Heavyweight, Freestyle",
       "Gymnastics Men's Individual All-Around, 4 Events",
       "Wrestling Men's Lightweight, Freestyle",
       "Gymnastics Men's Side Horse", "Boxing Men's Bantamweight",
       "Boxing Men's Welterweight", "Boxing Men's Featherweight",
       "Fencing Men's Single Sticks, Individual",
       "Gymnastics Men's Club Swinging", "Rowing Men's Double Sculls",
       "Archery Women's Team Round",
       "Weightlifting Men's All-Around Dumbbell Contest",
       "Boxing Men's Middleweight",
       "Rowing Men's 17-Man Naval Rowing Boats",
       "Athletics Men's Stone Throw",
       "Athletics Men's Javelin Throw, Freestyle",
       "Athletics Men's Pentathlon (Ancient)",
       "Gymnastics Men's Individual All-Around, 5 Events",
       "Cycling Men's Tandem Sprint, 2,000 metres",
       "Cycling Men's 20 kilometres", "Diving Men's Platform",
       "Athletics Men's Discus Throw, Greek Style",
       "Fencing Men's Sabre, Individual, Three Hits",
       "Fencing Men's Sabre, Team", "Cycling Men's 5,000 metres",
       "Wrestling Men's Heavyweight, Greco-Roman",
       "Athletics Men's 5 mile",
       "Swimming Men's 4 x 250 metres Freestyle Relay",
       "Rowing Men's 6-Man Naval Rowing Boats",
       "Rowing Men's Coxed Pairs (1 kilometres)",
       "Wrestling Men's Middleweight, Greco-Roman",
       "Rowing Men's Coxed Pairs (1 mile)",
       "Athletics Men's 1,500 metres Walk",
       "Swimming Men's 400 metres Freestyle",
       "Shooting Men's Military Rifle, Kneeling Or Standing, 300 metres",
       "Shooting Men's Free Rifle, Any Position, 300 metres",
       "Shooting Men's Military Rifle, 1873-1874 Gras Model, Kneeling Or Standing, 200 metres",
       "Shooting Men's Free Pistol, 25 metres",
       "Shooting Men's Military Revolver, 1873-1874 Gras Model, 20 metres",
       "Shooting Men's Military Revolver, 20 metres",
       "Shooting Men's Dueling Pistol Au Vise 20 metres",
       "Shooting Men's Dueling Pistol Au Commandement, 25 metres",
       "Wrestling Men's Lightweight, Greco-Roman",
       "Fencing Men's epee, Team",
       "Shooting Men's Trap, Single Shot, 16 metres",
       "Shooting Men's Trap, Double Shot, 14 metres",
       "Athletics Men's 3,000 metres Walk",
       "Wrestling Men's All-Around, Greco-Roman",
       "Tennis Women's Singles, Covered Courts", "Hockey Men's Hockey",
       "Shooting Men's Small-Bore Rifle, Prone, 50 and 100 yards",
       "Shooting Men's Small-Bore Rifle, 50 and 100 yards, Team",
       "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 yards",
       "Shooting Men's Small-Bore Rifle, Moving Target, 25 yards",
       "Shooting Men's Military Rifle, 200/500/600/800/900/1,000 Yards, Team",
       "Cycling Men's Team Pursuit, 1,980 yards",
       "Swimming Men's 4 x 200 metres Freestyle Relay",
       "Swimming Men's 200 metres Breaststroke",
       "Wrestling Men's Middleweight, Freestyle",
       "Swimming Men's 1,500 metres Freestyle",
       "Shooting Men's Free Rifle, 1,000 Yards", 'Sailing Mixed 8 metres',
       'Sailing Mixed 6 metres', 'Sailing Mixed 12 metres',
       "Racquets Men's Singles", "Racquets Men's Doubles",
       'Motorboating Mixed A-Class (Open)',
       "Archery Men's Continental Style",
       "Swimming Men's 100 metres Backstroke",
       "Shooting Men's Free Pistol, 50 yards",
       "Shooting Men's Free Pistol, 50 yards, Team",
       "Wrestling Men's Light-Heavyweight, Greco-Roman",
       "Shooting Men's Running Target, Single Shot",
       "Athletics Men's 3,200 metres Steeplechase",
       "Tennis Men's Doubles, Covered Courts",
       "Shooting Men's Running Target, Double Shot",
       "Shooting Men's Trap, Team", "Athletics Men's Javelin Throw",
       "Jeu De Paume Men's Singles", 'Sailing Mixed 7 metres',
       "Athletics Men's 1,600 metres Medley Relay",
       "Athletics Men's 3 mile, Team",
       "Tennis Men's Singles, Covered Courts",
       "Figure Skating Men's Singles",
       "Athletics Men's 3,500 metres Walk", 'Figure Skating Mixed Pairs',
       "Athletics Men's 10 mile Walk",
       "Figure Skating Men's Special Figures",
       "Shooting Men's Running Target, Single Shot, Team",
       'Motorboating Mixed B-Class (Under 60 Feet)',
       'Motorboating Mixed C-Class', "Figure Skating Women's Singles",
       "Swimming Men's 400 metres Breaststroke",
       "Wrestling Men's Middleweight A, Greco-Roman",
       "Athletics Men's Decathlon",
       "Gymnastics Men's Team All-Around, Free System",
       "Athletics Men's Javelin Throw, Both Hands",
       'Art Competitions Mixed Literature',
       "Shooting Men's Military Rifle, Three Positions, 300 metres",
       "Shooting Men's Military Rifle, Any Position, 600 metres",
       "Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team",
       "Swimming Women's 100 metres Freestyle",
       "Swimming Women's 4 x 100 metres Freestyle Relay",
       "Equestrianism Men's Jumping, Individual",
       "Equestrianism Men's Three-Day Event, Individual",
       "Equestrianism Men's Three-Day Event, Team",
       "Diving Men's Plain High", "Diving Women's Plain High",
       "Modern Pentathlon Men's Individual",
       "Equestrianism Men's Dressage, Individual",
       "Wrestling Men's Middleweight B, Greco-Roman",
       "Athletics Men's Shot Put, Both Hands",
       "Athletics Men's 10 kilometres Walk",
       'Tennis Mixed Doubles, Covered Courts',
       "Wrestling Men's Featherweight, Greco-Roman",
       "Cycling Men's Road Race, Team",
       "Shooting Men's Dueling Pistol, 30 metres",
       "Rowing Men's Coxed Fours, Outriggers",
       "Rowing Men's Coxed Fours, Inriggers",
       "Athletics Men's 3,000 metres, Team",
       "Gymnastics Men's Team All-Around, Swedish System",
       "Athletics Men's Cross-Country, Individual",
       "Athletics Men's Cross-Country, Team",
       "Shooting Men's Small-Bore Rifle, Any Position, 50 metres",
       "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 metres",
       "Athletics Men's Pentathlon",
       "Athletics Men's 4 x 100 metres Relay",
       'Art Competitions Mixed Music', 'Sailing Mixed 10 metres',
       "Athletics Men's 5,000 metres",
       "Shooting Men's Dueling Pistol, 30 metres, Team",
       "Athletics Men's 4 x 400 metres Relay",
       "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 metres, Team",
       'Art Competitions Mixed Sculpturing',
       "Athletics Men's Discus Throw, Both Hands",
       "Equestrianism Men's Jumping, Team",
       "Shooting Men's Small-Bore Rifle, Prone, 50 metres, Team",
       "Athletics Men's 10,000 metres",
       'Art Competitions Mixed Architecture',
       'Art Competitions Mixed Painting',
       "Shooting Men's Military Rifle, Prone, 300 metres",
       "Shooting Men's Military Rifle, 300 metres and 600 metres, Prone, Team",
       "Shooting Men's Military Rifle, Prone, 300 metres, Team",
       "Shooting Men's Military Rifle, Prone, 600 metres, Team",
       "Shooting Men's Military Rifle, Standing, 300 metres, Team",
       "Cycling Men's 50 kilometres",
       "Cycling Men's Team Pursuit, 4,000 metres",
       "Archery Men's Target Archery, 28 metres, Team",
       "Archery Men's Target Archery, 33 metres, Team",
       "Archery Men's Target Archery, 50 metres, Team",
       "Diving Women's Springboard", 'Sailing Mixed 40 metres',
       "Weightlifting Men's Heavyweight",
       "Athletics Men's 3,000 metres Steeplechase",
       "Shooting Men's Military Pistol, Team",
       "Boxing Men's Light-Heavyweight",
       "Shooting Men's Small-Bore Rifle, Standing, 50 metres",
       "Shooting Men's Small Bore-Rifle, Standing, 50 metres, Team",
       "Tennis Women's Doubles", "Weightlifting Men's Lightweight",
       "Ice Hockey Men's Ice Hockey",
       "Equestrianism Men's Vaulting, Individual",
       "Shooting Men's Military Pistol, 30 metres",
       "Swimming Women's 300 metres Freestyle",
       "Weightlifting Men's Middleweight",
       "Shooting Men's Running Target, Double Shot, Team",
       'Sailing Mixed 30 metres', 'Sailing Mixed 12 foot',
       "Shooting Men's Military Rifle, Prone, 600 metres",
       "Equestrianism Men's Vaulting, Team",
       "Archery Men's Target Archery, 33 metres, Individual",
       "Archery Men's Target Archery, 50 metres, Individual",
       "Weightlifting Men's Light-Heavyweight",
       'Sailing Mixed 6.5 metres',
       "Archery Men's Pole Archery, Small Birds, Individual",
       "Archery Men's Pole Archery, Large Birds, Individual",
       "Archery Men's Pole Archery, Small Birds, Team",
       "Archery Men's Pole Archery, Large Birds, Team",
       "Wrestling Men's Light-Heavyweight, Freestyle",
       "Shooting Men's Military Rifle, Standing, 300 metres",
       "Weightlifting Men's Featherweight",
       "Shooting Men's Unknown Event", 'Sailing Mixed 18 foot',
       "Archery Men's Target Archery, 28 metres, Individual",
       "Shooting Men's Small-Bore Rifle, Prone, 50 metres",
       "Fencing Women's Foil, Individual",
       "Shooting Men's Free Rifle, Prone, 600 metres",
       "Shooting Men's Free Rifle, 400, 600 and 800 metres, Team",
       "Shooting Men's Rapid-Fire Pistol, 25 metres",
       "Wrestling Men's Bantamweight, Greco-Roman",
       'Sailing Mixed One Person Dinghy',
       "Swimming Women's 200 metres Breaststroke",
       "Swimming Women's 100 metres Backstroke",
       "Swimming Women's 400 metres Freestyle",
       'Art Competitions Mixed Architecture, Designs For Town Planning',
       'Art Competitions Mixed Architecture, Architectural Designs',
       "Athletics Women's High Jump", "Athletics Women's 100 metres",
       "Athletics Women's 4 x 100 metres Relay",
       "Cycling Men's 1,000 metres Time Trial",
       "Gymnastics Women's Team All-Around",
       'Art Competitions Mixed Painting, Paintings',
       'Art Competitions Mixed Sculpturing, Statues',
       'Art Competitions Mixed Painting, Drawings And Water Colors',
       'Art Competitions Mixed Music, Compositions For Solo Or Chorus',
       'Art Competitions Mixed Painting, Graphic Arts',
       "Diving Women's Platform",
       'Art Competitions Mixed Literature, Lyric Works',
       "Athletics Women's 800 metres",
       'Art Competitions Mixed Sculpturing, Medals And Reliefs',
       "Equestrianism Men's Dressage, Team",
       "Athletics Women's Discus Throw",
       'Art Competitions Mixed Music, Compositions For Orchestra',
       'Art Competitions Mixed Literature, Epic Works',
       'Art Competitions Mixed Literature, Dramatic Works',
       'Art Competitions Mixed Music, Instrumental And Chamber',
       'Art Competitions Mixed Painting, Unknown Event',
       'Art Competitions Mixed Architecture, Unknown Event',
       'Art Competitions Mixed Sculpturing, Unknown Event',
       'Sailing Mixed Two Person Keelboat',
       'Art Competitions Mixed Unknown Event',
       "Gymnastics Men's Floor Exercise",
       "Athletics Women's Javelin Throw",
       "Athletics Men's 50 kilometres Walk",
       "Athletics Women's 80 metres Hurdles",
       "Wrestling Men's Welterweight, Greco-Roman",
       "Gymnastics Men's Tumbling", 'Alpinism Mixed Alpinism',
       "Basketball Men's Basketball", "Handball Men's Handball",
       "Canoeing Men's Kayak Singles, 1,000 metres",
       "Canoeing Men's Canadian Singles, 1,000 metres",
       'Art Competitions Mixed Literature, Unknown Event',
       "Canoeing Men's Kayak Doubles, 10,000 metres",
       "Canoeing Men's Folding Kayak Doubles, 10 kilometres",
       'Art Competitions Mixed Painting, Applied Arts',
       "Canoeing Men's Kayak Doubles, 1,000 metres",
       'Art Competitions Mixed Sculpturing, Medals',
       "Canoeing Men's Kayak Singles, 10,000 metres",
       "Canoeing Men's Canadian Doubles, 1,000 metres",
       "Canoeing Men's Canadian Doubles, 10,000 metres",
       'Art Competitions Mixed Music, Unknown Event',
       "Canoeing Men's Folding Kayak Singles, 10 kilometres",
       'Art Competitions Mixed Sculpturing, Reliefs',
       'Aeronautics Mixed Aeronautics',
       "Wrestling Men's Flyweight, Greco-Roman",
       'Sailing Mixed Three Person Keelboat',
       "Canoeing Men's Canadian Singles, 10,000 metres",
       "Canoeing Women's Kayak Singles, 500 metres",
       "Athletics Women's Long Jump",
       'Art Competitions Mixed Music, Vocals',
       'Art Competitions Mixed Sculpturing, Medals And Plaques',
       "Athletics Women's Shot Put", "Athletics Women's 200 metres",
       "Weightlifting Men's Bantamweight",
       "Shooting Men's Small-Bore Rifle, Three Positions, 50 metres",
       "Gymnastics Women's Individual All-Around",
       "Gymnastics Women's Team Portable Apparatus",
       "Gymnastics Women's Floor Exercise",
       "Gymnastics Women's Horse Vault", "Gymnastics Women's Uneven Bars",
       "Gymnastics Women's Balance Beam",
       "Boxing Men's Light-Welterweight", 'Sailing Mixed 5.5 metres',
       "Weightlifting Men's Middle-Heavyweight",
       "Modern Pentathlon Men's Team",
       "Shooting Men's Running Target, Single And Double Shot",
       'Equestrianism Mixed Dressage, Individual',
       'Equestrianism Mixed Dressage, Team',
       "Boxing Men's Light-Middleweight",
       "Athletics Men's 20 kilometres Walk",
       "Swimming Men's 200 metres Butterfly",
       'Equestrianism Mixed Jumping, Team',
       "Swimming Women's 100 metres Butterfly",
       'Sailing Mixed Two Person Heavyweight Dinghy',

### When did boxing first appear as a sport in which women competed at the olympics?

In [33]:
## query for boxing and women
## store in new df
df.query("Sport == 'Boxing' & Sex == 'F'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
196034,832,Nicola Virginia Adams,F,29.0,164.0,51.0,Great Britain,GBR,2012,London,Boxing,Boxing Women's Flyweight,Gold,Summer
196337,4004,Elizabeth Adhiambo Andiego,F,25.0,172.0,NaN,Kenya,KEN,2012,London,Boxing,Boxing Women's Middleweight,NaN,Summer
196402,4859,Adriana dos Santos Arajo,F,30.0,167.0,60.0,Brazil,BRA,2012,London,Boxing,Boxing Women's Lightweight,Bronze,Summer
197946,21147,Mavzuna Chorieva,F,19.0,160.0,60.0,Tajikistan,TJK,2012,London,Boxing,Boxing Women's Lightweight,Bronze,Summer
198689,29367,Dong Cheng,F,25.0,177.0,60.0,China,CHN,2012,London,Boxing,Boxing Women's Lightweight,NaN,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220792,119382,Irma Testa,F,18.0,174.0,60.0,Italy,ITA,2016,Rio de Janeiro,Boxing,Boxing Women's Lightweight,NaN,Summer
221285,123925,Ingrit Lorena Valencia Victoria,F,27.0,160.0,50.0,Colombia,COL,2016,Rio de Janeiro,Boxing,Boxing Women's Flyweight,Bronze,Summer
221823,129023,Shelley Marie Watts,F,28.0,164.0,60.0,Australia,AUS,2016,Rio de Janeiro,Boxing,Boxing Women's Lightweight,NaN,Summer
222144,132232,Yaroslava Ivanovna Yakushina,F,23.0,170.0,75.0,Russia,RUS,2016,Rio de Janeiro,Boxing,Boxing Women's Middleweight,NaN,Summer
222245,132989,Yin Junhua,F,25.0,167.0,60.0,China,CHN,2016,Rio de Janeiro,Boxing,Boxing Women's Lightweight,Silver,Summer

## Summer v. Winter

It's likely that the Summer Olympics have more medal winners than Winter Olympics. How can we check?

## How many values in a column?

```df_name["column_name"].value_counts()```

In [34]:
## what is the total medal count for winter v. summer?
df["Season"].value_counts()

Summer    222552
Winter     48564
Name: Season, dtype: int64

## How many medals were handed out at each olympics between 1896 and 2014?

Show the result from highest to lowest.

In [35]:
## how many medals were handed out at each olympics?
## show the result in descending order
df["Year"].value_counts()

1992    16413
1988    14676
2000    13821
1996    13780
2016    13688
2008    13602
2004    13443
2012    12920
1972    11959
1984    11588
1976    10502
1968    10479
1964     9480
1952     9358
1960     9235
1980     8937
1948     7480
1936     7401
1956     6434
1924     5693
1928     5574
2014     4891
2010     4402
2006     4382
1920     4292
2002     4109
1912     4040
1998     3605
1932     3321
1994     3160
1908     3101
1900     1936
1906     1733
1904     1301
1896      380
Name: Year, dtype: int64

In [36]:
## how many medals were handed out at each olympics each
## year from 2014 down to 1896.
df["Year"].value_counts().sort_index(ascending = False)

2016    13688
2014     4891
2012    12920
2010     4402
2008    13602
2006     4382
2004    13443
2002     4109
2000    13821
1998     3605
1996    13780
1994     3160
1992    16413
1988    14676
1984    11588
1980     8937
1976    10502
1972    11959
1968    10479
1964     9480
1960     9235
1956     6434
1952     9358
1948     7480
1936     7401
1932     3321
1928     5574
1924     5693
1920     4292
1912     4040
1908     3101
1906     1733
1904     1301
1900     1936
1896      380
Name: Year, dtype: int64

In [37]:
## top 10 count of gold medals by country
df_gold = df.query("Medal == 'Gold'")
df_gold.value_counts("Team" ).to_frame("Gold_Medals").head(10)
# df.sort_values(by = "Team", ascending = True)

               Gold_Medals
Team
United States         2474
Soviet Union          1058
Germany                679
Italy                  535
Great Britain          519
France                 455
Sweden                 451
Hungary                432
Canada                 422
East Germany           369

In [38]:
## count of gold medals by country by percent
(df_gold.value_counts("Team", normalize= True )*100).to_frame("pct_gold")
# df.sort_values(by = "Team", ascending = True)

                pct_gold
Team
United States  18.501346
Soviet Union    7.912055
Germany         5.077774
Italy           4.000897
Great Britain   3.881244
...                  ...
Nrnberg         0.007478
Kosovo          0.007478
Peru            0.007478
Baby-1          0.007478
Puerto Rico     0.007478

[242 rows x 1 columns]

In [39]:
## count of gold medals by country by percent
(df_gold.value_counts("Team", normalize= True )*100).to_frame("pct_gold_medals").head(10)

               pct_gold_medals
Team
United States        18.501346
Soviet Union          7.912055
Germany               5.077774
Italy                 4.000897
Great Britain         3.881244
France                3.402632
Sweden                3.372719
Hungary               3.230631
Canada                3.155848
East Germany          2.759497

In [40]:
## how many times did russia win the gold?
(df_gold.query("Team == 'Russia'")).shape[0]

366